<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="./css/foundation.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    <div class="topBar" style="">
        <div class="topBarContainer" style="">
            <div class="close" style=""></div>
            <div class="min" style=""></div>
            <div class="max" style=""></div>

        </div>
    </div>

    <div class="topSpace" style="height:25px;"></div>

    <div class="expanded row">
        <div class="medium-3 large-2 columns menuColumn fullHeight">
            <ul class="create">
                <li class="creator text-center">
                    <h3 data-open="creator">Create Project</h3>
                </li>
                <hr />
            </ul>
            <ul class="vertical menu projects">

            </ul>
        </div>

        <div class="medium-9 large-10 columns mother fullHeight">
            asddasf
            <div class="editButton" id="test">
                test div
            </div>
            <div class="list">

            </div>
        </div>
    </div>



    <!-- create project Modal -->
    <div class="tiny reveal" id="creator" data-reveal>
        <form>
            <div class="row">
                <div class="medium-12 large-12 columns">
                    <label id="proName">Name of Project
        <input type="text" name="projectName" placeholder="">
      </label>
                    <label id="proUrl">URL for project
        <input type="text" name="projectUrl" placeholder="">
      </label>
                </div>

                <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
                <div class="text-right" style="width:100%;">
                    <button class="button glow projectCreate" type="button">
      SAVE
    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- edit project Modal -->
    <div class="tiny reveal" id="editor" data-reveal>
        <form>
            <div class="row">
                <div class="medium-12 large-12 columns">
                    <label id="proName">Name of Project
        <input type="text" name="projectNameEdit" placeholder="">
      </label>
                    <label id="proUrl">URL for project
        <input type="text" name="projectUrlEdit" placeholder="">
      </label>
                </div>

                <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
                <div class="text-right" style="width:100%;">
                    <button class="button glow projectEdit" type="button">
      SAVE
    </button>
                </div>
            </div>
        </form>
    </div>



    <script src="./js/jquery-3.1.1.min.js" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="./js/what-input.js"></script>
    <script src="./js/foundation.min.js"></script>
    <script src="./models/fileSystem.js"></script>
    <script src="./controlers/projectCreate.js"></script>
    <script src="./controlers/listProjects.js"></script>
    <script src="./controlers/mouseFunctions.js"></script>

</body>
<script type="text/javascript">
    $(document).foundation();

    function getWidthHeight() {
        var width = jQuery(window).width();
        var height = jQuery(window).height();
        jQuery('.width').html(width + 'x' + height);
    }
    //  getWidthHeight();
    function fullHeight() {
        var height = jQuery(window).height();
        jQuery('.fullHeight').height(height - 25);
    }
    fullHeight();
    jQuery(window).resize(() => {
        //  getWidthHeight();
        fullHeight();
    });


    document.onmousedown = (e) => {
        rightClick(e).then((data) => {
            if (data.class === "project") {
                //console.log("open a dialog");
                createDialogBox({
                    x: data.x,
                    y: data.y,
                    id: data.id,
                    items: [{
                        "name": "Edit",
                        "url": "",
                        "class": "editButton"
                    }, {
                        "name": "Delete",
                        "url": "",
                        "class": "deleteButton"
                    }]
                });
            }
            jQuery(".editButton").each(function() {
                jQuery(this).click(function() {
                    var parentName = jQuery(this).parents(".project").attr("data-name");
                    var parentUrl = jQuery(this).parents(".project").attr('data-url');
                    jQuery(".newDialog").hide();
                    jQuery('input[name=projectNameEdit]').val(parentName);
                    jQuery('input[name=projectUrlEdit]').val(parentUrl);
                    jQuery('#editor').foundation('open');
                    jQuery('.projectEdit').on('click', function(){
                      var newName = jQuery('input[name=projectNameEdit]').val();
                      var newUrl = jQuery('input[name=projectUrlEdit]').val()
                      var editObj = {
                        "oldName":parentName,
                        "oldUrl":parentUrl,
                        "newName":newName,
                        "newUrl":newUrl
                      }
                      console.log(JSON.stringify(editObj,undefined,2));
                    });

                    //console.log(parentName+" - "+parentUrl);
                });
            });
        }, (errorMessage) => {
            console.log(errorMessage);
        });
    };




    var app = require('electron').remote;
    var dialog = app.dialog;
    //var fileSystem = require('./models/fileSystem.js');

    //stop light functions
    jQuery(".min").on("click", function(e) {
        var window = app.getCurrentWindow();
        window.minimize();
    });

    jQuery(".max").on("click", function(e) {
        var window = app.getCurrentWindow();
        if (!window.isMaximized()) {
            window.maximize();
        } else {
            window.unmaximize();
        }
    });

    jQuery(".close").on("click", function(e) {
        var window = app.getCurrentWindow();
        window.close();
    });




    jQuery(document).ready(function() {
        jQuery(".project").each(function() {
            jQuery(this).mousedown(function(e) {
                if (e.which === 3) {
                    //console.log("yep");
                }
            });
        });
    });


    //var projects = readFile("./projects/projects-all.json");



    // onload="window.$ = window.jQuery = module.exports;"
    ///
</script>

</html>
