<!doctype html>
<html class="no-js" lang="en" dir="ltr" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="./css/foundation.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body >
<div class="test" style="width:400px; height:400px; border:1px solid red;" oncontextmenu="return false;">

</div>
</body>
<script src="./controlers/mouseFunctions.js"></script>

<script type="text/javascript">
    document.getElementByClassName('test').onmousedown = (e) => {

        e.preventDefault();
        rightClick(e).then((data) => {
            console.log(data);
        });
    }
</script>
</html>
