.topBar {
  width: 100%;
  background: #051D29;
  height: 25px;
  -webkit-app-region: drag;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .topBar .topBarContainer {
    position: relative;
    top: 5%;
    left: 0.2%;
    width: 125px;
    height: 12px; }
    .topBar .topBarContainer .close {
      background: red;
      display: inline-block;
      border-radius: 100px;
      width: 14px;
      height: 14px;
      position: relative;
      top: 10%;
      left: 5%; }
    .topBar .topBarContainer .min {
      background: yellow;
      display: inline-block;
      border-radius: 100px;
      width: 14px;
      height: 14px;
      position: relative;
      top: 10%;
      left: 7%; }
    .topBar .topBarContainer .max {
      background: green;
      display: inline-block;
      border-radius: 100px;
      width: 14px;
      height: 14px;
      position: relative;
      top: 10%;
      left: 10%; }

.menuColumn {
  background: url("../img/cartographer.png") #051D29;
  color: #01FBFE; }
  .menuColumn .projects li {
    color: #01FBFE;
    padding: 10px;
    border-radius: 17px; }
    .menuColumn .projects li:hover {
      background: #01FBFE;
      color: #051D29;
      box-shadow: 0 0 10px 3px #01FBFE; }
  .menuColumn .create {
    list-style: none; }
    .menuColumn .create li h3 {
      margin-top: 5px;
      margin-bottom: -13px;
      border: 1px solid #01FBFE;
      background: #051D29; }
      .menuColumn .create li h3:active {
        box-shadow: 4px 4px 5px #13606d inset; }

.mother {
  background: #dceff2; }

.fullHeight {
  display: inline-block; }

#creator {
  background: url("../img/cartographer.png") #051D29;
  color: #01FBFE; }
  #creator label {
    color: #01FBFE; }

.glow {
  background: #01FBFE;
  color: #051D29;
  box-shadow: 0 0 10px 3px #01FBFE; }
  .glow:hover, .glow:focus, .glow:visited {
    background: #01FBFE;
    color: #051D29; }
  .glow:active {
    box-shadow: 4px 4px 5px #13606d inset; }

.error {
  color: red !important; }

.newDialog {
  background: #F2F2F2;
  color: black;
  width: 100px; }
  .newDialog ul {
    list-style: none;
    color: black; }
    .newDialog ul li {
      width: 100%;
      text-align: left !important;
      padding: 0px !important;
      padding-left: 15px !important;
      color: black !important; }
      .newDialog ul li:hover {
        background: blue !important;
        color: white !important;
        box-shadow: 0px 0px 0px blue !important;
        padding: 0px !important;
        border-radius: 0px !important; }
